<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dojo Tweets</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <div class="container">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand col-md-2" href="#">Dojo Twweets</a>
          <a class="navbar-link col-md-1 text-light" href="/users">Users</a>
          <a class="navbar-link col-md-5 text-light" href="/followers"
            >Followers</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <p class="nav-item col-md-3 text-light m-auto">
            Welcome, {{ current_user.first_name }}
          </p>
          <a href="/logout" class="nav-link col-md-1">Logout</a>
        </nav>
      </div>
      <div class="container mt-5">
        <h2>Write a Tweet:</h2>
        {% with error = get_flashed_messages(category_filter=['errors']) %} {%
        if error %}
        <p class="badge badge-warning">{{ error[0] }}</p>
        {% endif %} {% endwith %}
        <div class="container">
          <form action="/tweet" method="POST">
            <textarea
              class="form-group p-3 border border-dark"
              name="tweet"
              cols="30"
              rows="5"
              placeholder="Your tweet here..."
            ></textarea>
            <button type="submit" class="form-group btn btn-md btn-primary">
              Submit
            </button>
          </form>
        </div>
      </div>
      <div class="container">
        <h3 class="mb-3">Your Feed:</h3>
        {% if following_id == [] %}
        <p>
          You're not following anyone yet. Please start following
          <a href="/users">someone</a> to see their tweets.
        </p>
        {% endif %} {% if tweets%}
        <ul>
          {% for tweet in tweets%} {% if tweet.user_id|string() in following_id
          or tweet.user_id == session['userID'] %}
          <li class="card mt-2">
            <div class="card-body">
              <h5 class="card-title">
                {{ tweet.first_name }} {{ tweet.last_name }} says:
              </h5>
              <p class="card-text d-block">{{ tweet.message }}</p>
              {% if tweet.user_id == session['userID'] %}
              <a href="/tweets/{{ tweet.tweet_id }}/delete" class="card-link"
                >Delete</a
              >
              <a href="/tweets/{{ tweet.tweet_id }}/edit" class="card-link"
                >Edit</a
              >
              {% endif %}
              <p class="d-block text-muted card-footer">
                {{ tweet.created_at }}
              </p>
              <p>
                {% if tweet.num_of_likes == 1 %}
                <i>{{ tweet.num_of_likes }} like</i>
                {% elif tweet.num_of_likes > 1 %}
                <i>{{ tweet.num_of_likes }} likes</i>
                {% endif %}
              </p>
              {% if tweet.liked_by and current_user.id|string() in
              tweet.liked_by %}
              <a href="tweets/{{ tweet.tweet_id }}/unlike">Unlike</a>
              {% else %}
              <a href="/tweets/{{ tweet.tweet_id }}/like">Like</a>
              {% endif %}
            </div>
          </li>
          {% endif %} {% endfor%}
        </ul>
        {% endif %}
      </div>
    </div>

    <script src="" async defer></script>
  </body>
</html>
